
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
        }

.listingimg {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.listingimg {
    margin-top: -30px;
    text-align: center;
    margin-left: 515px;
    background-color: transparent;
}

.listingimg img{
    max-width: 150%;
    height: auto;
}
.bid {
    /* background-color: green; */
    margin-right: 10;
    margin-right: 944px;
}

.bid {
    
    color: white;
    display: flex;
    padding: 15px;
    width: 10%;
    margin-left: 378px;
    position: relative;
    bottom: 470px;
}


.close-bid {
    color: black;
    display: flex;
    padding: 15px;
    padding-right: 100px;
    width: 27%;
    margin-left: 378px;
    position: relative;
    bottom: 520px;
    right: 15px;
    padding-top: 5%;
}

#own-listing {
    
    position: absolute;
    top: 45px;
    left: 14px;
}

#listing-closed-1 {
    position: relative;
    bottom: 471px;
    left: 380px;
}

#listing-closed-2 {
    position: relative;
    bottom: 471px;
    left: 380px;
}

#listing-closed-3 {
    position: relative;
    bottom: 471px;
    left: 380px;
}

#dollar {
    color: black;
    position: absolute;
    top: 17px;
    left: 3px;
}

#bid-submit {
    position: absolute;
    top: 15px;
    left: 81px;
}
  

/* label {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px; 
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
   }
   
   input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }  */