{% extends 'auctions/layout.html' %} 
{% load static %}
{% block staticfile %} {% static "auctions/active-listings.css" %} {% endblock %}
{% block title %} Category Listings {%endblock %} 

{% block body %}
<h2>Category Listings</h2>
<br>

{% for category, listings in listings_with_categories.items %}
    
        {% for listing in listings %}

            {% if listing.is_active == True %}
                <div class="card">
                    <div class="image">
                        <a href="{% url 'listing' listing.id %}">
                        <img src="{{listing.image.url}}" alt="{{listing.title}}'s' image">
                        </a>
                    </div>
                    <div class="card-content">
                        <a href="{% url 'listing' listing.id %}">
                        <h2 class="card-title">{{listing.title.capitalize}}</h2>
                        <p class="card-category">${{listing.bid_price}}</p>
                        <p class="card-description">{{listing.description|slice:'150'}}</p>
                        <p class="card-created">{{listing.created}}</p>
                        </a>
                    </div>
                </div>
                <br> 
            {% endif %}

      {% endfor %}
             
    
{% endfor %}




{% endblock body %}