{% extends "auctions/layout.html" %}

{% load static %}

{% block title  %} Active Listing {% endblock %}

{% block staticfile %} {% static "auctions/active-listings.css" %} {% endblock %}

{% block body %}
    <h2><b>Active Listings<b></h2>
    <hr>

    {% for listing in listings %}
      {% if listing.is_active == True %}
        <div class="card">
            <div class="image">
              <a href="{% url 'listing' listing.id %}">
              <img src="{{listing.image.url}}" alt="{{listing.title}}'s' image">
              </a>
            </div>
            <div class="card-content">
              <a href="{% url 'listing' listing.id %}">
              <h2 class="card-title">{{listing.title.capitalize}}</h2>
              <strong><p class="card-category">${{listing.bid_price}}</p></strong>
              <p class="card-description">{{listing.description|slice:'180'}}..</p>
              <p class="card-created">{{listing.created}}</p>
              </a>
            </div>
        </div>
        <br> 
      {% endif %}
    {% endfor %}
{% endblock body %}