{% extends "auctions/layout.html" %}

{% load static %}

{% block title  %} Active Listing {% endblock %}

{% block staticfile %} {% static "auctions/active-listings.css" %} {% endblock %}

{% block body %}
    <h2><b>Active Listings<b></h2>
    <hr>

    {% for listing in listings %}
        <div class="card">
            <div class="image">
              <img src="{{listing.image.url}}" alt="{{listing.title}}'s' image">
            </div>
            <div class="card-content">
              <h2 class="card-title">{{listing.title.capitalize}}</h2>
              <p class="card-category">{{listing.category}}</p>
              <p class="card-description">{{listing.description|slice:'150'}}</p>
              <p class="card-created">{{listing.created}}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}