{% extends 'auctions/layout.html' %} {% block title %} Active Listings {%endblock %} {% block body %}

<!--See who's the highest Bidder Now for debugging purpuses-->
{% if listing.highest_bid %}
  <h6>{{listing.highest_bid.bid_owner}}</h6>
{% endif %}
{% if listing.highest_bid %}
  <h6>{{listing.highest_bid.bid_amount}}</h6>
{% endif %}


<div class="container">
  <h1>{{listing.title}}</h1>

  {% if listing.category is None %}

  <strong style="border: 1px; border-style: solid; font-size: 12px"
    >Category not set</strong
  >

  {% else %}

  <strong style="border: 1px; border-style: solid; font-size: 12px"
    >{{listing.category}}</strong
  >
  {% endif %}

  <p>{{listing.description}}</p>

  <div class="listingimg">
    <img src="{{listing.image.url}}" alt="{{listing.title}}'s image" />
  </div>

</div> 



<!--Bid Section-->
{% if request.user.id ==  listing.owner.id %}
    
    {% if listing.is_active == True %}
      <!--Close Bid-->
      <div class="close-bid">
      <p id="own-listing">You are the owner of this listing and cannot bid on your own listing.</p>
      <form action="{% url 'close-listing' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Close Bid" />
      </form>
    </div>
      {% else %}
      <h3 id="listing-closed-1" >Listing Closed Successfully! 1</h3>
      {% if listing.highest_bid.bid_owner %}
        <h3 id="listing-closed-1" >The Listing is won by {{listing.highest_bid.bid_owner }}</h3>
      {% endif %}

    {% endif %}

  {% elif request.user.is_authenticated %}
    {% if listing.is_active == True %}
    <!--Bidding Box-->
      <form action="" method="POST">
        {% csrf_token %}
        <div style="display: flex" class="bid">
          {% if listing.bid_price is None %}

            <p style="margin-right: 5px" id="dollar">$</p>
            <input
              style="width: 60px"
              maxlength="6"
              type="text"
              value="0"
              name="bid_amount"
            />
            <input type="submit" value="Bid" id="bid-submit" />

            {% else %}
            <p style="margin-right: 5px" id="dollar">$</p>
            <input
              style="width: 60px"
              maxlength="6"
              type="text"
              value="{{listing.bid_price}}"
              name="bid_amount"
            />
            <input type="submit" value="Bid" id="bid-submit" />
          {% endif %}
        </div>
      </form>
      {% else %}
      <h3 id="listing-closed-2">Listing Closed! 2</h3>
    {%endif%}
  
{% endif %}


<!--Winning Bid Logic-->

{% if listing.is_active == False %}

  <div class="win-bid">
  {% if request.user.id == listing.highest_bid.bid_owner.id and listing.highest_bid.bid_owner %}
      <h3 id="winner-closing">Congratulations, {{ listing.highest_bid.bid_owner }}!</h3>
      <h3 id="winner-closing">You have won the bid.</h3>
      <h3 id="winner-closing">You can purchase the listed item <a href="#">here</a></h3>

    {% elif request.user.is_authenticated == False %}
      <h3 id="listing-closed-3">Listing is closed.</h3>
      <h3 id="listing-closed-3">You can login to see other listings <a href="{% url 'login' %}">here</a>.</h3>

  {% endif %}
  </div>
  

{% endif %}


{% comment %} {% if request.user.is_authenticated %}
  {% if request.user.watchlist.count == 0 %}
    <form action="{% url 'watchlist' listing.id %}" method="POST" name="">
      {% csrf_token %}
      <input type="submit" value="Add to Watchlist" />
    </form>
  {% else %}
    <form action="{% url 'watchlist' listing.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Remove from Watchlist" />
    </form>

  {% endif %} {% endcomment %}
{% comment %} {% endif %} {% endcomment %}

<h2>Comments</h2>






{% endblock %}
