{% extends 'auctions/layout.html' %} 
{% block title %} Active Listings {% endblock %} 

{% block body %}

<div class="container">
  <h1>{{listing.title}}</h1>

  {% if listing.category is None %}

  <strong style="border: 1px; border-style: solid; font-size: 12px"
    >Category not set</strong
  >

  {% else %}

  <strong style="border: 1px; border-style: solid; font-size: 12px"
    >{{listing.category}}</strong
  >
  {% endif %}

  <p>{{listing.description}}</p>

  <div class="listingimg">
    <img src="{{listing.image.url}}" alt="{{listing.title}}'s image" />
  </div>

  <!--Bid Section-->
  {% if request.user != listing.owner %}

  <form action="" method="POST">
    {% csrf_token %}
    <div style="display: flex" class="bid">
      {% if listing.bid_price is None %}

      <p style="margin-right: 5px">$</p>
      <input
        style="width: 60px"
        maxlength="6"
        type="text"
        value="0"
        name="bid_amount"
      />
      <input type="submit" value="Bid" />

      {% else %}
      <p style="margin-right: 5px">$</p>
      <input
        style="width: 60px"
        maxlength="6"
        type="text"
        value="{{listing.bid_price}}"
        name="bid_amount"
      />
      <input type="submit" value="Bid" />
      {% endif %}
    </div>
  </form>
  {% else %}
<!--Close Bid-->
  <form action="{% url 'close-listing' listing.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Close Bid" />
  </form>

  {% endif %}
</div>
{% if listing.is_active == False %}
<p>Listing is closed</p>
{% endif %}

<p>Highest Bid der- {{highestBidder}}</p>
<p>Highest Bid Amount - {{highestBidAmount}}</p>
  <!--Save to Watchlist-->
  {% comment %} <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
  <label for="favorite" class="favorite">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
    <div class="action">
      <span class="option-1">Add to Favorites</span>
      <span class="option-2">Added to Favorites</span>
    </div>
  </label>  {% endcomment %}

{% endblock %}
