{% extends "auctions/layout.html" %}
{% load static %}
{% block staticfile %} {% static "auctions/active-listings.css" %} {% endblock %} 

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <form class="form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <p class="form-title">Register your account</p>
            <div class="input-container">
                <input autofocus type="text" name="username" placeholder="Username">
                <span></span>
            </div>
            <div class="input-container">
                <input type="email" name="email" placeholder="Email Address">
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="input-container">
                <input type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <button type="submit" class="submit">Register in</button>
            <p class="signup-link">
                Already have account
                <a href="{% url 'login' %}">Login in</a>
            </p>
        </form>

    </div>


{% endblock %}